In [32]:
import pandas as pd

# Data Manipulation on the CO2 Emission Dataset

In [22]:
df = pd.read_csv('data/co2_emission.csv', sep=',')

df_inf = pd.read_csv('data/continents2.csv', sep=',', usecols =['alpha-3', 'region', 'sub-region'])
#Rename the columns of data frame
df_inf.rename(columns={'alpha-3':'Code', 'region':'Region', 'sub-region':'Sub-Region'}, inplace=True)

In [13]:
df.info()
#Rows do not have ISO Code

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20853 entries, 0 to 20852
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          20853 non-null  object
 1   Code                            18646 non-null  object
 2   Year                            20853 non-null  datetime64[ns]
 3   Annual CO₂ emissions (tonnes )  20853 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 651.8+ KB

In [16]:
df_na = df[df['Code'].isnull()]
df_na['Entity'].unique()

array(['Africa', 'Americas (other)', 'Antarctic Fisheries',
       'Asia and Pacific (other)', 'EU-28', 'Europe (other)',
       'International transport', 'Kyrgysztan', 'Middle East',
       'Statistical differences', 'Wallis and Futuna Islands'],
      dtype=object)

In [24]:
#Filling missing code values
#df_kgz = df_na[df_na['Entity'].isin(['Kyrgysztan'])]
#df_kgz.fillna('KGZ', inplace=True)

#df_wlf = df_na[df_na['Entity'].isin(['Wallis and Futuna Islands'])]
#df_kgz.fillna('WLF', inplace=True)

df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18646 entries, 0 to 20852
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          18646 non-null  object
 1   Code                            18646 non-null  object
 2   Year                            18646 non-null  int64
 3   Annual CO₂ emissions (tonnes )  18646 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 728.4+ KB

In [25]:
df_merged = pd.merge(df, df_inf, how='left', on='Code')

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18646 entries, 0 to 18645
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          18646 non-null  object
 1   Code                            18646 non-null  object
 2   Year                            18646 non-null  int64
 3   Annual CO₂ emissions (tonnes )  18646 non-null  float64
 4   Region                          18247 non-null  object
 5   Sub-Region                      18247 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1019.7+ KB

In [28]:
df_merged_na = df_merged[df_merged['Region'].isnull()]

df_merged_na['Entity'].unique()

array(['Czechoslovakia', 'World'], dtype=object)

In [29]:
#DROP 'World'
df_merged = df_merged[df_merged['Entity']!= 'World']

df_merged_na = df_merged[df_merged['Region'].isnull()]

df_merged_na['Entity'].unique()

array(['Czechoslovakia'], dtype=object)

In [30]:
#Fill NaN in rows that contains 'Czechoslovakia'
df_merged['Region'].fillna('Europe', inplace= True)

df_merged['Sub-Region'].fillna('Eastern Europe', inplace=True)

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18379 entries, 0 to 18645
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          18379 non-null  object
 1   Code                            18379 non-null  object
 2   Year                            18379 non-null  int64
 3   Annual CO₂ emissions (tonnes )  18379 non-null  float64
 4   Region                          18379 non-null  object
 5   Sub-Region                      18379 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1005.1+ KB

In [31]:
#Final data frame
df_merged.head()

,Entity,Code,Year,Annual CO₂ emissions (tonnes ),Region,Sub-Region
0,Afghanistan,AFG,1949,14656.0,Asia,Southern Asia
1,Afghanistan,AFG,1950,84272.0,Asia,Southern Asia
2,Afghanistan,AFG,1951,91600.0,Asia,Southern Asia
3,Afghanistan,AFG,1952,91600.0,Asia,Southern Asia
4,Afghanistan,AFG,1953,106256.0,Asia,Southern Asia

# Visualising the CO2 Emission